@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.wrapper {
    display: flex;
    justify-content: center;
    left: 50%;
}

.container {
    margin-top: 40px;
    animation-name: chang-margin;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

.container_two {
    margin-top: 0;
}

@keyframes chang-margin {
    from {
        margin-top: 40px;
    }
    50% {
        margin-top: 20px;
    }
    to {
        margin-top: 40px;
    }
}

body {
    background: #fcebf1;
}

.main {
    height: 100%;
    width: 100%;
}

.heart {
    width: 260px; 
    height: 260px; 
    background-color: #FF145B; 
    transform: rotate(45deg);
    position: relative; 
    margin: auto 0;
}

.heart::before,
.heart::after {
    content : ''; 
    display: block;
    width: 260px;
    height: 260px;
    background-color: #FF145B;
    border-radius: 50%; 
    position: absolute;
}

.heart::before {
    content : ''; 
    display: block;
    width: 260px;
    height: 280px;
    background-color: #FF145B;
    border-radius: 50%; 
    position: absolute;
}

.heart::after {
    content : ''; 
    display: block;
    width: 280px;
    height: 260px;
    background-color: #FF145B;
    border-radius: 50%; 
    position: absolute;
}

.heart::before {
    top: -150px;
    left: 0;
}

.heart::after {
    top: 0;
    left: -150px;
}

.Valentines-day {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 246, 247);
    font-size: 35px; /* Можете изменить размер шрифта по желанию */
    z-index: 1; /* Убедитесь, что z-index больше, чем z-index сердца */
    position: relative; /* Позиционируем текст абсолютным образом */
    top: 47%; /* Центрируем текст по вертикали */
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); /* Смещение для точного центрирования */
}


@media (max-width: 530px) {

    .container_two {
        margin-top: 50px;
    }
    .Valentines-day-1 {
        font-size: 15px;
    }
    .Valentines-day {
        font-size: 22px;
    }

    .heart {
        width: 200px; 
        height: 200px; 
        background-color: #FF145B; 
        transform: rotate(45deg);
        position: relative; 
        margin: auto 0;
    }
    
    .heart::before,
    .heart::after {
        content : ''; 
        display: block;
        width: 200px;
        height: 200px;
        background-color: #FF145B;
        border-radius: 50%; 
        position: absolute;
    }
    
    .heart::before {
        content : ''; 
        display: block;
        width: 200px;
        height: 220px;
        background-color: #FF145B;
        border-radius: 50%; 
        position: absolute;
    }
    
    .heart::after {
        content : ''; 
        display: block;
        width: 220px;
        height: 200px;
        background-color: #FF145B;
        border-radius: 50%; 
        position: absolute;
    }
    
    .heart::before {
        top: -120px;
        left: 0;
    }
    
    .heart::after {
        top: 0;
        left: -120px;
    }
}

@media (max-width: 420px) {
    .Valentines-day-1 {
        font-size: 10px;
    }
    .Valentines-day {
        font-size: 20px;
    }

    .heart {
        width: 170px; 
        height: 170px; 
        background-color: #FF145B; 
        transform: rotate(45deg);
        position: relative; 
        margin: auto 0;
    }
    
    .heart::before,
    .heart::after {
        content : ''; 
        display: block;
        width: 170px;
        height: 170px;
        background-color: #FF145B;
        border-radius: 50%; 
        position: absolute;
    }
    
    .heart::before {
        content : ''; 
        display: block;
        width: 170px;
        height: 190px;
        background-color: #FF145B;
        border-radius: 50%; 
        position: absolute;
    }
    
    .heart::after {
        content : ''; 
        display: block;
        width: 190px;
        height: 170px;
        background-color: #FF145B;
        border-radius: 50%; 
        position: absolute;
    }
    
    .heart::before {
        top: -100px;
        left: 0;
    }
    
    .heart::after {
        top: 0;
        left: -100px;
    }
}

@media (max-width: 387px) {
    .Valentines-day-1 {
        font-size: 5px;
    }
    .Valentines-day {
        font-size: 15px;
    }

    .heart {
        width: 130px; 
        height: 130px; 
        background-color: #FF145B; 
        transform: rotate(45deg);
        position: relative; 
        margin: auto 0;
    }
    
    .heart::before,
    .heart::after {
        content : ''; 
        display: block;
        width: 130px;
        height: 130px;
        background-color: #FF145B;
        border-radius: 50%; 
        position: absolute;
    }
    
    .heart::before {
        content : ''; 
        display: block;
        width: 130px;
        height: 150px;
        background-color: #FF145B;
        border-radius: 50%; 
        position: absolute;
    }
    
    .heart::after {
        content : ''; 
        display: block;
        width: 150px;
        height: 130px;
        background-color: #FF145B;
        border-radius: 50%; 
        position: absolute;
    }
    
    .heart::before {
        top: -80px;
        left: 0;
    }
    
    .heart::after {
        top: 0;
        left: -80px;
    }
}